apptainer {
    enabled = true
    autoMounts = true
}

params.input = '.'

profiles {
    high {
        params {
            threads = 32
            memory = 64

            //fastp
            fastp_threads = 8
            fastp_memory = 2.GB

            //fastqc
            fastqc_threads = 2
            fastqc_memory = 512

            //spades
            spades_maxforks = 6
            spades_threads = 16
            spades_memory = 32
        }
    }
}


process {
    withName:fastqc {
        container = "file://$projectDir/containers/fastqc_0.12.1.sif" 
        maxForks = 1
    }   
    
    withName:fastp {
        container = "file://$projectDir/containers/fastp_1.1.0.sif"
        cpus = params.fastp_threads
        memory = params.fastp_memory
    }

    withName:spades {
        container = "file://$projectDir/containers/spades_4.2.0.sif"
        maxForks = params.spades_maxforks
    }

    withName:kraken {
        container = "file://$projectDir/containers/bracken_3.1.sif"
        containerOptions = "--bind ${projectDir}:${projectDir}"
        maxForks = 1
        memory = 8.GB
    }

    withName:bracken {
        container = "file://$projectDir/containers/bracken_3.1.sif"
        containerOptions = "--bind ${projectDir}:${projectDir}"
    }
    
    withName:amrfinder {
        container = "file://$projectDir/containers/ncbi-amrfinderplus_4.2.7-2026-03-24.1.sif"
    }
    
    withName:mlst {
        container = "file://$projectDir/containers/mlst_2.32.2.sif"
    }

    withName:virulencefinder {
        container = "file://$projectDir/containers/virulencefinder_3.2.0.sif"
    }

    withName:multiqc {
        container = "file://$projectDir/containers/multiqc_v1.33.sif"
    }
}
    