apptainer {
    enabled = true
}

params {
    input = '.'
    threads = 8
    memory = 16
}

process {
    withName:fastqc {
        container = "file://$projectDir/containers/fastqc_0.12.1.sif"
    }   
    
    withName:fastp {
        container = "file://$projectDir/containers/fastp_1.1.0.sif"
    }

    withName:spades {
        container = "file://$projectDir/containers/spades_4.2.0.sif"
    }

    withName:amrfinder {
        container = "file://$projectDir/containers/ncbi-amrfinderplus_4.2.7-2026-03-24.1.sif"
    }
}
    