apptainer {
    enabled = true
    cacheDir = "$projectDir/containers"
}

process {
    withName:fastqc {
        container = "file://$projectDir/containers/fastqc_0.12.1.sif"
    }   
    
    withName:fastp {
        container = "file://$projectDir/containers/fastp_1.1.0.sif"
    }

    withName:spades {
        container = "file://$projectDir/containers/spades_4.2.0.sif"
    }
}
    